<div class="container-fluid">
  <div class="jumbotron mb-2 text-center">
  	<!--
  	<a class="btn btn-primary btn-lg" href="#" role="button"><%=  link_to( 'Visit Weekly Adds', weeklyadds_path, :class => 'btn btn-warning')%></a>-->
     <a href="weeklyadds" class="btn btn-sm btn-warning"> Weekly Papers!</a>
        <a href="finders" class="btn btn-sm btn-warning"> Daily Dealers!</a>
        <a href="finders" class="btn btn-sm btn-warning"> Black  Friday!</a>
     <!--<a href="#" class="btn btn-sm btn-success">Promotions now: Electronics</a>
     <a href="#" class="btn btn-sm btn-success">Promotion next week: Toys</a>-->
  </div>
</div>