<div class="container-fluid">

 <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#F2F3F4;">
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarNavDropdown">

     <a><%=  link_to("Weekly Papers!", weeklyadds_path, :class => 'btn btn-outline-info btn-block')%></a>

     <a><%=  link_to("Daily Deals",finders_path, :class => 'btn btn-outline-info btn-block')%></a>
  
     <a><%=  link_to("Black Friday",finders_path, :class => 'btn btn-outline-info btn-block')%></a>

	</div>
  </nav>
</div>