<nav class="height-full">
 <div class="fixed-left ">
  <div class="container">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#"></a>
    </li>
    <li class="nav-item">
     <a>Its "dealibaba.com"</a><br/>
     <a>de before alibaba.</a>
      <div class="dropdown-divider"></div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><%=link_to_unless_current 'Products', root_path %></a>
      <div class="dropdown-divider"></div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><%=link_to_unless_current 'Dealers', weekly_adds_path  %></a>
      <div class="dropdown-divider"></div>
    </li>
  </ul>
  </div>
 </div>
</nav>