<h1>New Articledetail</h1></br>

<div class="container">
  <div class="row">
	<%= render 'form', articledetail: @articledetail %>
  </div>
  <div class="row">
	<%= link_to 'Back', articledetails_path %>
  </div>
</div>