@import "/*";
@import "bootstrap";
@import "tether";


.fit-picture{
  width: 100%;
  object-fit: cover;
}

.img-fluid{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.fit-logo{
  width: 100%;
}

body {
     margin: 0;
     //background: #d6dbdf;
     background-image: image-url('/images/bg10.jpg')

 }

 .newform-box{
 	border-style: groove; 
 	border-radius: 5px;
	height: 850px;
	position: relative;
	box-shadow: 10px 10px 5px #888888;
	background: #EAEDED;
 }

 .newdealer-box{
  border-style: groove; 
  border-radius: 5px;
  height: 700px;
  position: relative;
  box-shadow: 10px 10px 5px #888888;
  background: #EAEDED;
 }

 .product-box{
	height: 400px;
	position: relative;
	box-shadow: 10px 10px 5px #79B2F7;
	background: #F9EBEA;
 }

 img.product-show{
 	width: auto;
 	height: auto;
 	align: middle;
 }

 .product-box ul{
 	list-style-type: none;
 	position: absolute;
 	bottom: 0;
 }

  .product-box li:first-child{
 	font-size: 20px;
  text-decoration: underline;
  line-height: 20px;
 }

  .product-box li{
  margin-right: .5em;
 }

  img.product-index {
 	width: 100%;
 	height: 80%;
 	object-fit: cover;
 }

 .logo-box{
	height: 300px;
	position: relative;
	box-shadow: 10px 10px 5px #79B2F7;
	background: #F9EBEA;
 }
 
  .logo-box ul{
 	list-style-type: none;
 	position: absolute;
 	bottom: 0;
 }

  .logo-box li:first-child{
 	font-size: 20px;
  line-height: 20px;
 }

  img.logo-index {
 	width: 100%;
 	height: 80%;
 	object-fit: cover;
 }

.height-full {
  height: 100vh;
}

nav {
     width: 100%;
     font-family: "Segoe UI";
     font-size: 14px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: 700; 
     line-height: 15.4px;
     border-radius: 6px !important;
     -moz-border-radius: 6px !important;
     background-color: #5d6d7e;
     text: centered;
 }

.nav a{
    color: #000000 !important;
    font-size: 1.3em !important;
    }

.nav li{
     font-family: "Segoe UI";
     font-style: normal; 
     font-variant: normal; 
     font-weight: 700; 
     line-height: 15.4px;
     font-size: 1.3em !important; 
     padding-right:5px;
   }

.nav a:hover{
  background-color:#F2F2F2 !important;
}

.nav-tab{
     border-color: #000000;
     border-radius: 6px !important;
     -moz-border-radius: 6px !important;
}

.card :hover{
  //Sbackground-color:#EBEBE0 !important;
}

.jumbotron {
    color: #000000 !important;
    padding-top: 24px;
    padding-bottom: 24px;
}

.table{
  background-color:#F2F3F4;  
}

tr:hover{
    background-color:#F6FF33 !important;
}

/*Amol added this code.*/

.card-deck {
    width: 100% !important;
}